<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/index_styles.css">
    <title>Fantasy</title>
</head>
<body>
    
    <!-- <script src="static/scripts/test.js"></script>

    <a href="{{ url_for('dodododo_downloads') }}">downloads page</a>
    <p></p>
    <a href="{{ url_for('github_redirect') }}">github redirect</a> -->

    <div align="center">
        <h1>Welcome to the Fantasy server!</h1>
    </div>

    <div align="center">
        <button id="goto_dodododo_downloads">Go to Dodododo sever world downloads</button>
        <button id="goto_github">Go to my github</button>
    </div>

    <script src="static/scripts/index_main.js"></script>
</body>
</html>