<html>
    <p>Thank you for visiting LoveTap's website. Here you can find our privacy policy, as well as information on how to request user data deletion. </p>

    <br><br>
    <p>Our privacy policy: 	LoveTap utilizes Firebase for its cloud services, including but not limited to logging, crashalytics, and firebase cloud messaging. As such, their privacy policy may intrude upon your privacy. You can find more details here: https://firebase.google.com/support/privacy. 
        Additionally, LoveTap may collect some user data (such as user email or app logs) for statistics and debugging. I, as the LoveTap developer, however, do not intend to ever sell this information. 
    </p>
    <br><br>
    <p>How can you delete this data? <br> As a solo and hobbiest developer, I cannot build automated systems for this. However, I am enthusiastic about protecting user's rights. Thus, to delete all of your user data, please email me at KopaunikSoftware@gmail.com. </p>
</html>