<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='assets/fantasy-favicon.ico') }}" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <title> SkyCity </title>
</head>
<body>

    <header>
        <nav class="header">
            <img src="{{ url_for('static', filename='assets/server-iconv3.png') }}" id="nav-logo" alt="Fantasy web logo">
            
            <br>
            <a href="{{ url_for('index') }}" class="nav-link"> Home </a>
            <a href="./downloads" class="nav-link"> Downloads </a>
            <a href="{{ url_for('portfolio') }}" class="nav-link"> Portfolio </a>
            <a href="https://github.com/Thrasherop" class="nav-link"> Github </a>
        </nav>
    </header>

    <main>

        <!-- The Welcome section -->
        <section id="welcome-section">

            <p class="text-bubble"> Welcome to the SkyCity Webpage! Here you can find a list 
                of all the items we sell, as well as the general pricing (specific pricing is 
                negotiated on a client-by-client basis). This is in three
                price tiers: Low, Medium, High. This price is based relative to how hard it is 
                to get these items manually. If there is anything you need that is not here, just 
                let Josh know.
                 Also, if you're searching for anything
                in particular, <i class="text-bubble-highlight">CTRL + F</i> will allow you to search :)


            </p>

        </section>

        <section id="inventory list" class="whole-inventory-section">


            <!-- Mob drops section -->
            <section class="inventory-section" id="mob-section"> 
                <h1>Mob Drops</h1>

                <table class="table">
                    <thead>
                        <tr>
                            <td> Product</td>
                            <td> Price</td>
                        </tr>
                    </thead>

                    <tbody>
                        <tr><td>Shulker shells</td><td>HIGH</td></tr>
                        <tr><td>String</td><td>LOW</td></tr>
                        <tr><td>Leather*</td><td>MEDIUM</td></tr>
                        <tr><td>Gunpowder</td><td>LOW</td></tr>
                        <tr><td>Eggs</td><td>LOW</td></tr>
                        <tr><td>Spider eye</td><td>LOW</td></tr>
                        <tr><td>Rotten flesh</td><td>LOW</td></tr>
                        <tr><td>Ghast tears</td><td>MEDIUM</td></tr>
                        <tr><td>Piglins (actual mob)**</td><td>MEDIUM</td></tr>
                        <tr><td>Totems</td><td>HIGH</td></tr>
                    </tbody>
                    
                </table>
            </section>

            <!-- Organics section -->
            <section class="inventory-section" id="organics-section"> 
                <h1>Organics</h1>

                <table class="table">
                    <thead>
                        <tr>
                            <td> Product</td>
                            <td> Price</td>
                        </tr>
                    </thead>

                    <tbody>
                        <tr><td>Wood</td><td>MEDIUM</td></tr>
                        <tr><td>Pumpkin</td><td>LOW</td></tr>
                        <tr><td>Melon</td><td>LOW</td></tr>
                        <tr><td>Bonemeal</td><td>LOW</td></tr>
                        <tr><td>Sugar cane</td><td>LOW</td></tr>
                        <tr><td>Seeds</td><td>LOW</td></tr>
                        <tr><td>Wheat</td><td>MEDIUM</td></tr>
                        <tr><td>Bamboo</td><td>LOW</td></tr>
                    </tbody>

                </table>
            </section>

            

            <!-- Blocks section -->
            <section class="inventory-section" id="blocks-section"> 
                <h1>Blocks</h1>

                <table class="table">
                    <thead>
                        <tr>
                            <td> Product</td>
                            <td> Price</td>
                        </tr>
                    </thead>

                    <tbody>
                        <tr><td>Gravel*</td><td>LOW</td></tr>
                        <tr><td>Dripstone*</td><td>LOW</td></tr>
                        <tr><td>Cobblestone</td><td>LOW</td></tr>
                        <tr><td>Stone</td><td>LOW</td></tr>
                        <tr><td>Smooth stone</td><td>LOW</td></tr>
                        <tr><td>Nether bricks*</td><td>LOW</td></tr>
                        <tr><td>Crying obsidian*</td><td>HIGH</td></tr>
                        <tr><td>Obsidian*</td><td>HIGH</td></tr>
                        <tr><td>Blackstone*</td><td>MEDIUM</td></tr>
                        <tr><td>Soul sand*</td><td>LOW</td></tr>
                        <tr><td>Glowstone</td><td>LOW</td></tr>
                        <tr><td>Snow</td><td>LOW</td></tr>
                    </tbody>
                    
                </table>
            </section>


            <!-- Miscellaneous  section -->
            <section class="inventory-section" id="Miscellaneous"> 
                <h1>Miscellaneous</h1>

                <table class="table">
                    <thead>
                        <tr>
                            <td> Product</td>
                            <td> Price</td>
                        </tr>
                    </thead>

                    <tbody>
                        <tr><td>Spectral arrows</td><td>MEDIUM</td></tr>
                        <tr><td>Ender pearls</td><td>FREE</td></tr>
                        <tr><td>Soul speed*</td><td>MEDIUM</td></tr>
                        <tr><td>Wither roses</td><td>HIGH</td></tr>
                        <tr><td>Saddle</td><td>LOW</td></tr>
                        <tr><td>Potion of Fire Resistance</td><td>LOW</td></tr>
                        <tr><td>Potion of healing</td><td>LOW</td></tr>
                        <tr><td>Goat horn*</td><td>LOW</td></tr>
                        <tr><td>Villagers**</td><td>MEDIUM</td></tr>
                        <tr><td>Villager trading farm**</td><td>MEDIUM</td></tr>
                        <tr><td>Lava**</td><td>LOW</td></tr>   
                    </tbody>
                    
                </table>
            </section>


            <!-- Crafting section -->
            <section class="inventory-section" id="Crafting"> 
                <h1>Crafting</h1>

                <table class="table">
                    <thead>
                        <tr>
                            <td> Product</td>
                            <td> Price</td>
                        </tr>
                    </thead>

                    <tbody>
                        <tr><td>Super smelter(17k/hr)</td><td>LOW</td></tr>
                        <tr><td>Iron</td><td>MEDIUM</td></tr>
                        <tr><td>Honey*</td><td>MEDIUM</td></tr>
                        <tr><td>Gold*</td><td>MEDIUM</td></tr>
                        <tr><td>Glass bottles</td><td>LOW</td></tr>
                        <tr><td>Fireworks</td><td>LOW</td></tr>
                    </tbody>
                    
                </table>
            </section>

        </section>


        <section class="asterisk-section">
            <p class="asterisk-p"> *Large orders may take time to fulfill for these items.
                Contact Thrasherop on Discord for details. </p>
            <p class="asterisk-p"> **The price may vary greatly depending on the project. 
                Contact Thrasherop on Discord for pricing. </p>
                
        </section>

    </main>


    <footer class="footer">

        <h4 class="footer-link"> &copy; 2022 - Joshua Kopaunik </h4>
        <h4 ><a href="site-plan.html" class="footer-link copyright-link" ></a></h4><!--This line used to show a "site plan" option. This was removed, but I kept this line in to keep spacing correct-->
        <h4><a href="https://github.com/Thrasherop" class="footer-link">Github: Github.com/Thrasherop</a></h4>
        <h4><a href="https://discordapp.com/users/Thrasherop#9875/" class="footer-link">Discord: Thrasherop#9875</a></h4>
        <h4><a href="mailto:KopaunikSoftware@gmail.com" class="footer-link"> Email: KopaunikSoftware@Gmail.com</a></h4>

    </footer>

    
</body>
</html>